<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Liste des lits</title>
<link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@400;700;900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="../css/styles.css">
</head>
<body>
	<h1>Lits</h1>
	<a th:href="@{/lits/ajouter}">Ajouter un lit</a><br>
	
	<table th:if="${listeLits.content.size() > 0}">
		<tr>
			<th>Num</th>
			<th>Chambre</th>
			<th>type</th>
			<th>prix par jour</th>
			<th>Etat</th>
			<th>Action</th>
			
		</tr>
		<tr th:each="l : ${listeLits.content}">
			<td th:text = ${l.litId}></td>
			<td th:text = ${l.chambre.departement}></td>
			<td th:text = ${l.typeLit.libelle}></td>
			<td th:text = ${l.typeLit.prixType}></td>
			<td th:text = "${l.etat} ? 'occupe' :'vide' "></td>
			
			<td><span th:if="${l.etat}">
			<a th:href="@{'/Liberer/?Id=' + ${l.litId}}">Liberer</a>
			</span></td>
		</tr>
	</table>
	<h3 th:if="${listeLits.content.size() == 0}">Liste vide</h3>
	<a href="/" th:href="@{/home}">Retour vers la page d'accueil</a>
	
	<!-- footer -->
	<div th:insert="footer :: footer"></div>
</body>
</html>